body {
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 26px 40px 37px;
    background: linear-gradient(180deg, #000000 29.73%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;

}

.menu span {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 19px;
    color: #949494;
    transition: color 0.7s;
}

.menu span:hover {
    color: #1C86A4;
    cursor: pointer;
}

.screen-one {
    background-image: url("./assets/backgroud-screen-one.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: calc(630px - 177px - 50px);
    padding: 177px 0px 50px 98px;
}

.screen-one span {
    color: #BE9667;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 32.5627px;
    line-height: 43px;
}

.screen-one h1 {
    margin-block: 0;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 90.0346px;
    line-height: 80px;
    color: rgba(2, 75, 104, 0.68);
}

.title {
    display: inline-flex;
    flex-direction: column;
}

.align-rigth {
    align-self: end;
}

.screen-one p {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 24px;
    line-height: 131%;
    color: #E5E5E5;
    margin-block: 66px 25px;
    max-width: 416px;
}

.screen-one p strong {
    font-weight: 400;
}

.screen-one button {
    background: #014561;
    border-radius: 2px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #E5E5E5;
    padding: 14px 40px;
    border: 1px solid #014561;
    transition: background 1s linear, border 1s linear;
}

.screen-one button:hover {
    border: 1px solid #BE9667;
    background-color: transparent;
    cursor: pointer;
    /* ou background none  */
}

.screen-two {
    padding: 55px 98px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.screen-two .content {
    display: flex;
    flex-direction: column;
}

.screen-two h1 {
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    color: #014561;
    margin: 0;
}

.screen-two .description {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 19px;
    line-height: 141.3%;
    color: #333333;
    margin-block: 40px 27px;
}

.screen-two .quote {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 141.3%;
    color: #1C86A4;
    margin: 0;
}

.screen-two span {
    font-family: 'Cormorant';
    font-weight: 500;
    font-size: 20px;
    line-height: 141.3%;
    align-self: flex-end;
    margin-block: -10px 10px;
}

.screen-two button {
    background: #014561;
    border-radius: 2px;
    color: #E5E5E5;
    padding: 15px 79px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    border: none;
    transition: 1s;
    max-width: 303px;
}

.screen-two button:hover {
    background: #00648C;
    cursor: pointer;
}

.screen-two .quote-image {
    position: absolute;
    right: 15px;
    bottom: 138px;
}

.screen-three {
    background: #EFF7F9;
    display: flex;
    position: relative;
}

.screen-three .comment {
    width: 1068px;
    height: 360px;
    padding: 0px 270px 0px 148px;
    position: absolute;
}

.screen-three p {
    padding: 90px 255px 47px 20px;
    margin: 0;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 24px;
    line-height: 141.3%;
    color: #828282;
}

.screen-three .nelson-name {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 141.3%;
    color: #014561;
    padding: 239px 503px 81px 267px;
}

.screen-three .lawyer-name {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    line-height: 141.3%;
    color: #BE9667;
    padding: 38px 360px 55px 124px;
}