body {
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 26px 40px 37px;
    background: linear-gradient(180deg, #000000 29.73%, rgba(0, 0, 0, 0) 100%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.menu {
    display: flex;
    align-items: center;
    gap: 40px;

}

.menu span {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 19px;
    color: #949494;
    transition: color 0.7s;
}

.menu span:hover {
    color: #1C86A4;
    cursor: pointer;
}

.screen-one {
    background-image: url("./assets/backgroud-screen-one.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: calc(630px - 177px - 50px);
    padding: 177px 0px 50px 98px;
}

.screen-one span {
    color: #BE9667;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 32.5627px;
    line-height: 43px;
}

.screen-one h1 {
    margin-block: 0;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 90.0346px;
    line-height: 80px;
    color: rgba(2, 75, 104, 0.68);
}

.title {
    display: inline-flex;
    flex-direction: column;
}

.align-rigth {
    align-self: end;
}

.screen-one p {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 24px;
    line-height: 131%;
    color: #E5E5E5;
    margin-block: 66px 25px;
    max-width: 416px;
}

.screen-one p strong {
    font-weight: 400;
}

.screen-one button {
    background: #014561;
    border-radius: 2px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #E5E5E5;
    padding: 14px 40px;
    border: 1px solid #014561;
    transition: background 1s linear, border 1s linear;
}

.screen-one button:hover {
    border: 1px solid #BE9667;
    background-color: transparent;
    cursor: pointer;
    /* ou background none  */
}

.screen-two {
    padding: 55px 98px;
    display: flex;
    justify-content: space-between;
    gap: 100px
}

.screen-two .content {
    display: flex;
    flex-direction: column;
}

.screen-two h1 {
    font-family: 'Cormorant', serif;
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    color: #014561;
    margin: 0;
}

.screen-two .description {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 19px;
    line-height: 141.3%;
    color: #333333;
    margin-block: 40px 27px;
}

.screen-two .quote {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 141.3%;
    color: #1C86A4;
    margin: 0;
}

.screen-two span {
    font-family: 'Cormorant';
    font-weight: 500;
    font-size: 20px;
    line-height: 141.3%;
    align-self: flex-end;
    margin-block: 0px 10px;
}

.screen-two button {
    background: #014561;
    border-radius: 2px;
    color: #E5E5E5;
    padding: 15px 79px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    border: none;
    transition: 1s;
    max-width: 303px;
}

.screen-two button:hover {
    background: #00648C;
    cursor: pointer;
}

.screen-two .quote-image {
    position: absolute;
    right: 15px;
    bottom: 138px;
}

.screen-three {
    width: 100%;
    display: flex;
    background-color: #1C86A4;
    position: relative;
}

.screen-three .costumer-testimonal {
    background-color: #EFF7F9;
    width: calc(100vw - 313px);
    height: 360px;
    background-repeat: no-repeat;
    background-image: url("./assets/Tailor.png");
    background-position: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.screen-three p {
    color: #828282;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 24px;
    line-height: 141.3%;
    max-width: 630px;
    text-align: center;
}

.screen-three .costumer-name {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 141.3%;
    color: #014561;
    display: block;
    margin-top: 47px;
}

.screen-three .profision-costumer {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 20px;
    line-height: 141.3%;
    color: #BE9667;
}

.screen-three .nelson {
    background-image: url("./assets/blue-suit.png");
    width: 313px;
    height: 360px;
    background-repeat: no-repeat;
}

.screen-three .filter-blue {
    width: 100%;
    height: 100%;
    background-color: rgba(2, 75, 104, 0.81);
}

.screen-three .nelson-image-two {
    background-image: url("./assets/gray-suit.png");
    width: 280px;
    height: 353px;
    position: absolute;
    right: 254px;
}

.screen-four {
    padding: 53px 100px 50px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: end;


}

.screen-four h3 {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #1C86A4;
    margin-block: 14px 5px;
}

.screen-four span {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #727272;
}

.screen-four .centralize {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.screen-four .centralize img {
    width: 36px;
    height: 36px;
}

.screen-four .divider {
    height: 57px;
    border-left: 1px solid #CCCCCC;
}

.screen-five {
    background-image: url("./assets/suit.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.filter-screen-five {
    background-color: #013145e3;
}

.gradiente {
    display: flex;
    justify-content: space-between;
    padding: 25px 168px;
    background: linear-gradient(270deg, rgba(1, 49, 69, 0) 0%, rgba(0, 36, 50, 0.85) 54.17%)
}

.screen-five h1 {
    font-family: 'Cormorant';
    font-weight: 400;
    font-size: 53px;
    line-height: 64px;
    color: #BE9667;
}

.screen-five span {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #BE9667;
    display: block;
    margin-bottom: 20px;
}

.screen-five .text {
    display: flex;
    gap: 9px;
    margin-bottom: 23px;
}

.screen-five .text p {
    margin: 0;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #C4C4C4;
}

.screen-five .text strong {
    font-weight: 400;
}

.screen-five .dash {
    border-top: 1px solid #BE9667;
    width: 15px;
    margin-top: 12px;
}

.screen-five button {
    padding: 16px 41px;
    background: #BE9667;
    border-radius: 2px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #E0E0E0;
    margin-top: 42px;
    transition: background 0.7s;
}

.screen-five button:hover {
    background: #727272;
    cursor: pointer;
}

.screen-six {
    padding: 62px 97px 8px 19px;
    display: flex;
}

.screen-six .confection{
    border: 1px solid #E5E5E5;
    width: 1011px;
    height: 385px;
}

.screen-six h1 {
    font-family: 'Cormorant';
    font-weight: 300;
    font-size: 62px;
    line-height: 75px;
    color: #014561;
    /* margin: ; */
}

.screen-six span {
    font-family: 'Lato';
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.screen-six .category {
    font-family: 'Cormorant';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #727272;
    display: flex;
    gap: 68px;
}
